/* * {
    outline: 1px solid tomato;
} */


.wrap {}

.Header {
    position: relative;
    line-height: 80px;
}

.Header h1 {
    font-size: 0;
}

.Header .header_wrap {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.Header .gnb {
    display: flex;
    margin: 0 0 0 auto;
    white-space: nowrap;
}

.Header .member {
    display: flex;
    margin: 0 0 0 40px;
    gap: 24px;
}

.Header .member a {
    font-size: 14px;
    font-weight: 600;
}

.Header .search {
    margin: 0 0 0 80px;
}

.Header .gnb>ul:not(.member) {
    display: flex;
    gap: 40px;
    font-size: 17px;
}

.Header .gnb>ul>li {
    position: relative;
}

.Header .gnb>ul>li .sub {
    position: absolute;
    left: 50%;
    top: 80px;
    z-index: 1;
    transition: 0.5s;
    height: 0;
    overflow: hidden;
    line-height: 40px;
    transform: translate(-50%, 0);
    text-align: center;
}

.Header .gnb:hover>ul>li .sub {
    height: 200px;
}

.Header .gnb>ul>li>a {
    min-width: 40px;
    text-align: center;
}

.Header .gnb>ul>li a {
    display: block;
}

.Header .gnb>ul>li .sub a {
    padding: 0 24px;
    font-size: 15px;
}

.Header .gnb::before {
    content: "";
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 200px;
    background: #fff;
    z-index: 1;
    transition: 0.5s;
    height: 0;
}

.Header .gnb:hover::before {
    height: 200px;
}

.visual_slide .itm {
    position: relative;
    min-height: 600px;
    height: 850px;
}

.visual_slide .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 999;
    border: none;
    background: transparent;
    font-size: 0;
    width: 40px;
    height: 40px;
    border-top: 4px solid rgba(255, 255, 255, 0.4);
    border-left: 4px solid rgba(255, 255, 255, 0.4);
}


.visual_slide .slick-prev {
    left: 80px;
    transform: translate(0, -50%) rotate(-40deg);

}

.visual_slide .slick-next {
    right: 80px;
    transform: translate(0, -50%) rotate(135deg);
}


.visual_slide .itm01 {
    background: url(../imges/mainbannerjpg.jpg);
}

.visual_slide .itm02 {
    background: url(../imges/mainbanner02.jpg.png);
}

.visual_slide .itm03 {
    background: url(../imges/mainbanner03.jpg);
}

.visual_slide .itm04 {
    background: url(../imges/mainbanner04.jpg);
}

.visual_slide .slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1200px;
    width: 100%;
}

.visual_slide .itm02 .slogan {
    text-align: center;
}

.visual_slide .slogan strong {
    display: block;
    font-size: 60px;
    font-weight: 800;
    margin: 15px 0 20px 0;
    color: #fff;
}

.visual_slide .slogan P {
    color: #fff;
    font-size: 11px;

}

.visual_slide .slogan span {
    color: #fff;
    font-size: 18px;
}

.main_content .title {
    text-align: center;
}

.main_content .title h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 40px 0;
}

.main_content {
    padding: 140px 0;
}

.main_content .tab_menu {
    display: flex;
    gap: 50px;
    padding: 24px;
    /* margin: 0 0 24px 0; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.main_content .tab_menu li {
    text-align: center;
    height: 50px;
    font-size: 18px;
    font-weight: 500;

}

.main_content .tab_menu li.on {
    color: #c41e20;
    ;
}

.Solution {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 10px;
}

.Solution .inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}



.Solution .inner .img_box {
    display: block;
}

.Solution.img {
    transition: 0.6s;
}

.Solution .inner h2 {
    margin: 8px auto;
    font-size: 16px;
    line-height: normal;

}

.Solution .inner p {
    font-size: 20px;
    font-weight: 500;
    margin: 8px 0 8px 0;
}

.Slogan_visual .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 999;
    border: none;
    background: transparent;
    font-size: 0;
    width: 30px;
    height: 30px;
    border-top: 2px solid #7c7c7c;
    border-left: 2px solid #7c7c7c;
}


.Slogan_visual .slick-prev {
    left: 30px;
    transform: translate(0, -50%) rotate(-40deg);

}

.Slogan_visual .slick-next {
    right: 30px;
    transform: translate(0, -50%) rotate(135deg);
}

.Slogan_visual figure {
    position: relative;
    width: 1200px;
    padding: 0 80px 0 80px;
}

.Slogan_visual img {
    object-fit: cover;
}

.Slogan_visual strong {
    font-size: 30px;
    font-weight: 700;
}

.Slogan_visual .title {
    margin: 100px 0 60px 0;
    text-align: center;
}


.slogan_content {
    padding: 0, 150px;
}

.Side_banner {
    display: flex;
    justify-content: center;
    padding: 90px 0 0 10px;

}

.Footer {
    padding: 30px 0 30px 0;
    background: #f7f7f7;

}

.Footer .footer_section01 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
}


.footer_section01 li {
    font-size: 15px;
    color: #7c7c7c;
    margin: 10px;
}

.Footer .sns {
    margin: 0 0 0 auto;

    text-align: center;
}

.Footer .sns i {
    font-size: 32px;
    padding: 8px;
    border-radius: 50%;
}